bin/
obj/
out/
*.exe
*.dll
*.pdb
*.cache
*.log
*.userosscache
*.suo
*.user
*.rsuser
*.csproj.user
*.aps
*.dbmdl
*.bak
*.backup
*.swp
*.idea/
*.vs/
.vscode/
.ReSharper/
project.lock.json
project.fragment.lock.json
artifacts/